[submodule "prototypes/minimal-pwa"]
	path = prototypes/minimal-pwa
	url = https://github.com/IanSkelskey/minimal-pwa
[submodule "prototypes/checkers-pwa"]
	path = prototypes/checkers-pwa
	url = https://github.com/IanSkelskey/checkers-pwa
[submodule "prototypes/tac-tac-toe-pwa"]
	path = prototypes/tac-tac-toe-pwa
	url = https://github.com/ZacharyJacobson/Tic-Tac-Toe-PWA
[submodule "prototypes/ilathem-blitz"]
	path = prototypes/ilathem-blitz
	url = https://github.com/ilathem/Blitz-Starter
[submodule "prototypes/advanced-pwa"]
	path = prototypes/advanced-pwa
	url = https://github.com/IanSkelskey/advanced-pwa/
[submodule "prototypes/TrinomialFactoringPWA"]
	path = prototypes/TrinomialFactoringPWA
	url = https://github.com/IanSkelskey/TrinomialFactoringPWA.git
[submodule "prototypes/Photography-Portfolio"]
	path = prototypes/Photography-Portfolio
	url = git@github.com:IanSkelskey/Photography-Portfolio.git
