[submodule "prototypes/minimal-pwa"]
	path = prototypes/minimal-pwa
	url = https://github.com/IanSkelskey/minimal-pwa
[submodule "prototypes/checkers-pwa"]
	path = prototypes/checkers-pwa
	url = https://github.com/IanSkelskey/checkers-pwa
[submodule "prototypes/tac-tac-toe-pwa"]
	path = prototypes/tac-tac-toe-pwa
	url = https://github.com/ZacharyJacobson/Tic-Tac-Toe-PWA
