@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  alignment: center;
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 1rem;
}
h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}
.board {
    display: grid;
    background: #555;
    width: 100%;
}
.board:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.white-square {
  position: relative;
  background: #fff;
  width: 12.5%;
  height: 12.5%;
}
.black-square {
  position: relative;
  background: #000;
  width: 12.5%;
  height: 12.5%;
}
.white-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.black-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}